packages/HanoiTowers/data/HanoiTowers.sh
packages/HanoiTowers/data/bin/
packages/HanoiTowers/data/lib/
packages/HanoiTowers/data/plugins/
packages/HanoiTowers/data/qml/
packages/HanoiTowers/data/translations/

